<!DOCTYPE html>
<html lang="en"><head>
   <%= stylesheet_link_tag    'dashboar', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  <body>
    
      <div class="container-fluid center-block bg-light cover-all">
        <div class="row center-block">
          <div class="col-sm-2 col-md-1 sidebar text-center">
            <ul class="nav nav-sidebar">
              <li><a href="#"><img src="assets/arise-logo.png" class="img-responsive img-logo" data-holder-rendered="true"></a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li class="active"><a href="#">Navigation<span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href=""><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href=""><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href=""><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a></li>
            </ul>
            <ul class="nav nav-sidebar">              
              <li><a href=""><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
            </ul>
          </div>
          
          <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main cover-all">   

            <div class="container-fluid center-block intro-header">       
             <nav class="col-sm-12 col-md-12 navbar navbar-inverse navbar-fixed-top navbar-custom">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#">Profile</a></li>
                      <li><a href="#">Members</a></li>
                      <li><a href="#">Search</a></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Create Article..</a></li>
                          <li><a href="#">Visit Website..</a></li>
                          <li class="divider"></li>
                          <li class="dropdown-header">System</li>
                          <li><a href="#">Settings</a></li>
                          <li><a href="#">Logout</a></li>
                        </ul>
                      </li>
                  </div>
              </nav>

              <div class="placeholders">
                <div class="col-xs-8 col-sm-4">
                 
                </div>
                <div class="col-xs-8 col-sm-4 center-block">
                 <h1 class="this-font"><strong>Elaine Iturralde</strong></h1>
                 <img class="img-responsive img-circle " alt="Elaine" src="assets/elaine.jpg" data-holder-rendered="true">
                  <h4>That Awkward Face</h4>              
                    <span>Nice to meet you - Where you've been? I can show you incredible things.</span>
                    <p style="margin-bottom: 0px"> <span class="glyphicon glyphicon-phone sm-glyph" aria-hidden="true"></span> +639-XXX-XXX-XXX </p>
                    <p> <span class="glyphicon glyphicon-map-marker sm-glyph" aria-hidden="true"></span> Location </p>           
                  <ul class="list-inline">
                    <li><a href="#"><span class="glyphicon glyphicon-globe sm-glyph" aria-hidden="true"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-send sm-glyph" aria-hidden="true"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-gift sm-glyph" aria-hidden="true"></span></a></li>
                  </ul>
                </div>
                <div class="col-xs-8 col-sm-4 placeholder">
                  </div>
                </div>              
            </div>
                  <div class="container-fluid text-center bg-white margin-fixed">
                    <div class="page-header"><h1 > Things You Should Know About Me </h1></div>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
              </div>
        </div>
      </div>
    </body>