<div id="carousel-example-generic" class="carousel carousel-fade slide" data-ride="carousel">
        <div class="carousel-caption">
          <h1>WE ARE LEADERSHIP BY INFLUENCE</h1> 
          <%= image_tag("arise-logo.png", :class => "img", style:"min-height: 0; height: 170px; min-width: 0; max-width: 100%; padding: 20px 0;") %>
          <p><a href="#aboutus" class="ahere" role="button"><span class="glyphicon glyphicon-chevron-down lg-glyph" aria-hidden="true"></span></a></p>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item">
            <%= image_tag("random1.JPG", :class => "img") %>
          </div>
          <div class="item active left">
            <%= image_tag("random2.jpg", :class => "img") %>
          </div>
          <div class="item next left">
            <%= image_tag("random3.jpg", :class => "img") %>
          </div>
        </div>
      </div>

<div class="container theme-showcase" role="main">
  
    <section id="aboutus">
      <div class="text-center">
        <div class="page-header"><h1 > Who We Are </h1></div>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      
    </section>
      
    <section id="members">
      <div class="page-header text-center">
        <h1>The Executives</h1>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="member-profile">
            <%= image_tag("random4.png", :class => "img img-circle img-responsive") %>
            <h4>Elaine Iturralde</h4>
            <p>President</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="member-profile">
            <%= image_tag("random4.png", :class => "img img-circle img-responsive") %>
            <h4>Elaine Iturralde</h4>
            <p>President</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="member-profile">
            <%= image_tag("random4.png", :class => "img img-circle img-responsive") %>
            <h4>Elaine Iturralde</h4>
            <p>President</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="member-profile">
            <%= image_tag("random4.png", :class => "img img-circle img-responsive") %>
            <h4>Elaine Iturralde</h4>
            <p>President</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="member-profile">
            <%= image_tag("random4.png", :class => "img img-circle img-responsive") %>
            <h4>Elaine Iturralde</h4>
            <p>President</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="member-profile">
            <%= image_tag("random4.png", :class => "img img-circle img-responsive") %>
            <h4>Elaine Iturralde</h4>
            <p>President</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="member-profile">
            <%= image_tag("random4.png", :class => "img img-circle img-responsive") %>
            <h4>Elaine Iturralde</h4>
            <p>President</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="member-profile">
            <%= image_tag("random4.png", :class => "img img-circle img-responsive") %>
            <h4>Elaine Iturralde</h4>
            <p>President</p>
          </div>
        </div>
      </div>
    </section>

    <section id="events" class="text-center">
      <div class="page-header">
        <h1>Our Events</h1>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
          <h4>Ignite</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-sm-3">
          <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
          <h4>Farm</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-sm-3">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          <h4>Store</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-sm-3">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          <h4>Love</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
          <h4>Earth</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-sm-3">
          <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
          <h4>Credit</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-sm-3">
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
          <h4>Graphs</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-sm-3">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <h4>Win</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </section>
      
      <div class="page-header text-center">
        <h1>Other</h1>
      </div>
      <div class="well">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>