<%= form_for @article, class: 'form form-signin text-left login-form center-block' do |f| %>
    <% if @article.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@article.errors.count, "error") %> Prohibited this article from being saved:
            </h2>
            <ul>
                <% @article.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <p>
        <%= f.label :title, style:"font-family: Arial" %><br>
        <%= f.text_field :title,  class: 'form-control input-change'%>
    </p>
    
    <p>
        <%= f.label :text, style:"font-family: Arial" %><br>
        <%= f.cktext_area :text, rows: 10 %>
    </p>
    <p>
        <%= f.submit "Create Article", class:"btn" %>
    </p>
<% end %>