 <div class="row stretch">
          <div class="col-sm-12 col-md-12 text-right">
             <% if current_user != nil && (current_user.user_role == "Admin" || current_user.user_role == "Editor") %>
                 <%= link_to new_article_path do %>
                  <span class="a glyphicon glyphicon-edit xs-glyph"></span> New Article
                 <% end %>
             <% end %>
          </div>
          <div class="text-center for-headers"><h1 style="margin-top: 0px; margin-bottom: 20px;"> News </h1></div>
         
        <% Article.all.each do |article| %>
            <div class="col-md-6">
              <ul class="list-group">
                <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object img-no-border" src="assets/cover.jpg" data-holder-rendered="true" style="width: 128px; height: 64px;">
                    </a>
                  </div>
                  <div class="media-body">
                    <div class="pull-right">
                      <% if current_user != nil && current_user.name == article.author %>
                    		<%= link_to edit_article_path(article) do %>
                              <span class="a glyphicon glyphicon-edit xs-glyph"></span>
                            <% end %>
                    		<%= link_to article_path(article), method: :delete, data: {confirm: 'Are you sure you would like to delete this? ' }  do %>
                              <span class="a glyphicon glyphicon-remove xs-glyph"></span> 
                            <% end %>
                    	<% elsif current_user != nil && current_user.user_role == "Admin" && current_user.name != article.author%>
                        	<%= link_to article_path(article), method: :delete, data: {confirm: 'Are you sure you would like to delete this? ' }  do %>
                              <span class="a glyphicon glyphicon-remove xs-glyph"></span> 
                            <% end %>
                        <% end %>
                    </div>
                    <h4 class="media-heading" id="middle-aligned-media"><%= link_to article.title.html_safe, article_path(article) %></h4>
                    <h5 style="font-size: 11px;"><i> by <%= article.author %></i></h5>
                    <p><%= article.text.html_safe %></p>
                    </div>
                </div>
                </li>
              </ul>
            </div>                  
        <% end %>
          </div>
          
        </div>