
<div class="row stretch">
<div class="col-sm-12 col-md-12">
  <h6 class="pull-left">
    <%= link_to articles_path do %>
      <span class="a glyphicon glyphicon-chevron-left xs-glyph"></span> News List
    <% end %>
  </h6>
</div>
<div class="col-sm-12 col-md-12">
    <%= render 'form' %>
</div>
</div>