
 <div class="container theme-showcase bg-white" role="main">

  <div class="row">
      
  <div class="col-sm-12 col-md-12">
      <h6 class="pull-left" style="font-size: 13px;">
        <%= link_to articles_path do %>
          <span class="a glyphicon glyphicon-chevron-left xs-glyph"></span> News List
        <% end %>
      </h6>
    </div>
     <div class="col-sm-12 col-md-12" style="border-bottom: 1px solid #eee; margin-bottom: 10px;">
      <div style="text-align: right"> 
                      <% if current_user != nil && current_user.name == @article.author %>
                    		<%= link_to edit_article_path(@article) do %>
                              <span class="a glyphicon glyphicon-edit xs-glyph"></span>
                            <% end %>
                    		<%= link_to article_path(@article), method: :delete, data: {confirm: 'Are you sure you would like to delete this? ' }  do %>
                              <span class="a glyphicon glyphicon-remove xs-glyph"></span> 
                            <% end %>
                    	<% elsif current_user != nil && current_user.user_role == "Admin" && current_user.name != @article.author%>
                        	<%= link_to article_path(@article), method: :delete, data: {confirm: 'Are you sure you would like to delete this? ' }  do %>
                              <span class="a glyphicon glyphicon-remove xs-glyph"></span> 
                            <% end %>
                        <% end %>
        </div>
      <h2 class="media-heading" id="middle-aligned-media"><%= @article.title.html_safe %></h2>
      <h5><i> by <%= @article.author %></i>
        </h5></div>
    <div class="col-md-5">      
      <a><%= image_tag("cover.jpg", class: "img media-object img-no-border", style:"width: 100%;") %></a> 
      <p style="font-size: 12px;"><i>Caption of the picture</i></p>
    </div>
    <div class="col-md-7">                            
      <p><%= raw @article.text %></p>
    </div>    
  </div>
