<li class="list-group-item">
  <div class="media">
    <div class="media-left media-middle">
      <a href="#">
        <%= image_tag(user.attachment_url, class:"img media-object img-circle img-no-border", style:"width: 64px; height: 64px;") %>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading" id="middle-aligned-media"><%= link_to user.name, user %><a class="anchorjs-link" href="#middle-aligned-media"><span class="anchorjs-icon"></span></a></h4>                
      
          <% if user != nil && current_user.user_role != 'Admin' %>
          <div class="pull-left">
          <p> <%= user.user_role %></p>
        	    
        	 </div>
        	<% end %>
          <% if current_user.user_role == "Admin" && !current_user?(user) %> 
            <div class="dropdown pull-right">
            <%= form_for(user) do |f| %>
          	<% option = "#{user.user_role} (current)" %>
              <%= f.select(:user_role, options_for_select([[option, user.user_role], ['Admin', 'Admin'], ['Editor', 'Editor'], ['Member', 'Member']]), {}, :selected => 'Current Role', class:"a dropdown", style:"margin-right: 10px") %>
             |<%= f.button :submit, class:"btn", style:"background: transparent;" do %>
              <span class="glyphicon glyphicon-saved sm-glyph" aria-hidden="true" style="margin-top: 0px;"><% end %>
              <% if current_user.user_role == "Admin" && !current_user?(user) %>
               | <div class="btn"><%= link_to "", user, method: :delete, data: { confirm: "You sure?" }, class:"glyphicon glyphicon-remove sm-glyph", style:"margin-top: 0px;"%></div>
               <% end %>
             <% end %>
             </div>
        <% end %>
      
      <p></p>
    </div>
  </div>
</li>
    