<h1 class="text-center">Update your profile</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>
			
			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>
			
			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>
			
			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>
			
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>
			
    		<%= f.label 'Contact Details' %>
    		<%= f.text_field :contact, class: 'form-control' %>
			
			<%= f.label 'How are you?' %>
    		<%= f.text_field :status, class: 'form-control' %>
    		
    		<%= f.label 'Describe Yourself' %>
    		<%= f.cktext_area :description, rows: 10 %>
    		
    		<%= f.label 'Upload your Avatar' %>
    		<%= f.file_field :attachment, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>