<div class="row stretch">
              <div class="page-header text-center for-headers"><h1> MEMBERS </h1></div>
              
              <% @users.each do |user| %>
                <div class="col-md-4">
                  <ul class="users list-group">
                 
                    <%= render user %>
                    
                  </ul>
                </div>
              <% end %>
</div>