<%= stylesheet_link_tag    'login_theme', media: 'all', 'data-turbolinks-track' => true %>
<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-md-7">
      <div class="container-fluid bg-white margin-fixed">
        <div class="page-header text-center"><h1 > WE ARE LEADERSHIP BY INFLUENCE </h1></div>
        <p>Some inspirational shiz goes here. e.g. Better looking people have been proven to succeed more in life. So give up now. Inspired by JJ Endaya. </p>
      </div>
    </div>
    <div class="col-md-5">
      <%= form_for(@user, url: login_path, class: 'form form-signin text-left login-form center-block') do |f| %>
        <%= render 'shared/error_messages' %>
        	<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
        <%= image_tag('arise-logo.png', class: 'img-responsive img-size-small center-block') %>
        <%= f.label :name,  class: 'label sr-only' %>
        <%= f.text_field :name, class: 'form-control input-change', placeholder: "Name" %>
        
        <%= f.label :email, class: 'label sr-only' %>
    	  <%= f.email_field :email, class: 'form-control input-change', placeholder: "Email Address" %>
    	  
        <%= f.label :password, class: 'label sr-only' %>
        <%= f.password_field :password, class: 'form-control input-change', placeholder: "Password" %>
        
        <%= f.label :password_confirmation, "Confirmation", class: 'label sr-only' %>
    	  <%= f.password_field :password_confirmation, class: 'form-control input-change', placeholder: "Confirm Password" %>
      	
      	<%= f.label :contact, class: 'label sr-only' %>
      	<%= f.text_field :contact, class: 'form-control input-change', placeholder: "Contact" %>
      	
      	<%= f.label :attachment, class: "margin-for-signup" %>
      	<%= f.file_field :attachment, class: 'form-control' %>
        <%= f.submit "Create My Account", class: "button btn btn-lg btn-default btn-block custom-button center-block margin-for-signup" %>
      <% end %>

  </div>
</div>