<div class="placeholders bg-white">
                <div class="col-xs-2 col-sm-4">
                 
                </div>
                <div class="col-xs-8 col-sm-4 center-block">
                 <h1 class="this-font"><strong><%= @user.name %></strong></h1>
                 <%= image_tag(@user.attachment_url, class: "img img-responsive img-circle img-borderless") %>
                    <h4><%= @user.status %></h4>
                    <p style="margin-bottom: 0px"> <span class="glyphicon glyphicon-phone sm-glyph" aria-hidden="true"></span> <%= @user.contact %> </p>
                  <ul class="list-inline">
                    <li><a href="#"><span class="glyphicon glyphicon-globe sm-glyph" aria-hidden="true"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-send sm-glyph" aria-hidden="true"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-gift sm-glyph" aria-hidden="true"></span></a></li>
                  </ul>
                </div>
                <div class="col-xs-2 col-sm-4 placeholder">
                  </div>
                </div>              
            </div>
                  <div class="col-xs-2 col-sm-2 bg-white">
                 
                </div>
                <div class="col-xs-8 col-sm-8 center-block bg-white text-center margin-fixed">
                    <div class="page-header"><h1 > Things You Should Know About Me </h1></div>
                    <p><%= raw @user.description %></p>
                </div>
                 <div class="col-xs-2 col-sm-2 bg-white">
                  </div>
              </div>
        </div>

