<h1>Upcoming Events</h1>

<% if current_user != nil && (current_user.user_role == "Admin" || current_user.user_role == "Editor") %>
	<%= link_to 'New Event', new_event_path %>
<% end %>

<% @events.each do |event| %>
      <p>
  		<h3><%= event.title %></h3>
	  </p>
	  
	  <p>
  		Author: 
  		<%= event.author %>
	  </p>
 
	  <p>
		<%= raw event.text %>
	  </p>
      
     <% if current_user != nil && (current_user.user_role == "Admin" || current_user.user_role == "Editor") %>
	  	<%= link_to 'Edit event', edit_event_path(event) %> |
	  	<%= link_to 'Delete', event_path(event), method: :delete, data: {confirm: 'Are you sure you would like to delete this? ' } %>
	  	<%= link_to 'New event', new_event_path %>
      <% end %>
<% end %>
