<h1>Contact Us</h1>

<% @contacts.each do |contact| %>
      <p>
  		<h3><%= contact.title %></h3>
	  </p>
 
	  <p>
		<%= raw contact.text %>
	  </p>
      
      <% if current_user != nil && (current_user.user_role == "Admin" || current_user.user_role == "Editor") %>
      	<p>
  			Edited by:
  			<%= contact.author %>
	  	</p>
	  	<%= link_to 'Edit Content', edit_contact_path(contact) %> |
	  	<%= link_to 'Delete', contact_path(contact), method: :delete, data: {confirm: 'Are you sure you would like to delete this? ' } %>
      <% end %>
<% end %>

<br>

<% if @contacts.empty? && (current_user != nil && (current_user.user_role == "Admin" || current_user.user_role == "Editor") )%>
	<%= link_to 'Create Content', new_contact_path %>
<% end %>
