<h1>About</h1>

<% if @abouts.empty? && (current_user != nil && (current_user.user_role == "Admin" || current_user.user_role == "Editor") )%>
	<%= link_to 'Create Content', new_about_path %>
<% end %>

<% @abouts.each do |about| %>
      <p>
  		<h3><%= about.title %></h3>
	  </p>
 
	  <p>
		<%= raw about.text %>
	  </p>
      
      <% if current_user != nil && (current_user.user_role == "Admin" || current_user.user_role == "Editor") %>
      	<p>
  			Edited by:
  			<%= about.author %>
	  	</p>
	  	<%= link_to 'Edit Content', edit_about_path(about) %> |
	  	<%= link_to 'Delete', about_path(about), method: :delete, data: {confirm: 'Are you sure you would like to delete this? ' } %>
      <% end %>
<% end %>


