/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-sprockets";
body {
	padding-top: 50px;
	height: 100%;
}
.navbar {
	border: 0;
}

.navbar-inverse {
	background-image: none;
}
.carousel {
	position: relative;
	top: 0;
}
h1 {
	font-family: "Helvetica Neue", Arial,Verdana;
}

.a {
  color: inherit;
}
.member-profile {
	text-align: center;
	margin: 30px;
}

.glyphicon {
	font-size: 150px;
	text-decoration: none!important;
}
.row {
	padding-top: 20px;
}

.sm-glyph {
	font-size: 20px;
	text-decoration: none!important;
}

a:hover .glyphicon {
   text-decoration: none; 
   background: none;
}

a:hover {
  text-decoration: none;
  background: none;
}
a:visited {
  color: #428bca;
}

a:hover .logo-hover  {
  color: #ffa900;
}
footer {
	padding: 20px;
	text-align: center;
}
.carousel img {
  min-width: 100%;
  height: 700px;
}

.bg-img-check {
	background: url('cover.jpg') no-repeat center !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-header {
	padding-top: 50px;
}
.footer {
  position: relative;
  bottom: 0;
  height: 60px;
  background-color: #fff;
}

.item img {
    width: auto;
	  height: 600px;
	  max-height: 600px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.9s;
  background-color: #000;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

.carousel-caption {
    top: 0;
    bottom: auto;
    text-shadow: none;
}



.lg-glyph {
	font-size: 120px;
	color: #ffa800;
}

.lg-glyph.glyphicon:hover, .lg-glyph.glyphicon:focus {
  	color: #ff9600;
  	background: transparent;
}

.xs-glyph {
  font-size: 15px;
}

.for-articles {
  padding-bottom: 0px;
}

.article-padding {
  padding: 60px;
}

.article-header {
  margin-bottom: 0px;
}

.for-headers {
  color: dark-gray; 
  font-family: 'Open Sans', Arial;
  font-size: 60px;
}

.stretch {
  width: 100%;
  padding: 30px 20px 20px 20px;
  margin: 0px 0px;
}