@import "bootstrap";
@import "bootstrap-sprockets";
body {
  padding-top: 0px;
  background-color: #ccc;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.sidebar {
  padding: 10px!important;
}

.row {
  margin: 0px;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;

}
.navbar-inverse{
    background-image: none;
    box-shadow: none;
    text-shadow: none!important;
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

@media (min-width: 768px){
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
  float: none;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.glyphicon {
  font-size: 30px;
}

.sm-glyph {
  margin-top: 10px;
  font-size: 20px;
  text-decoration: none;
}

.intro-header {
  color: dark-gray;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #ddd;
}

.coverpage {
  background: url('random21.png') no-repeat center;
}

.img-circle {
  border: 7px solid #fff;
}

.img-borderless {
  display: inline!important;
}

.this-font {
  color: #f8f8f8; 
  font-family: 'Dancing Script', cursive, Arial;
  font-size: 60px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
}

.bg-light {
  background-color: #ccc;
}
.bg-white {
  background-color: #fff;
}
.margin-fixed {
  padding: 60px 0px;
}

.gly-mar {
  padding-right: 30px;
}

.img-no-border {
  border: none;
}

.media, .media-body {
  overflow: visible;
}

.cover-all {
  padding: 0;
}

.for-headers {
  color: dark-gray; 
  font-family: 'Open Sans', Arial;
  font-size: 60px;
}

.navbar-fixed-top {
  position: absolute;
}

.stretch {
  width: 100%;
  padding-top: 50px;
}

.img-logo {
  max-width: 100%!important;
}

.media{margin-top:15px}
.media:first-child{margin-top:0}
.media,.media-body{overflow:hidden;zoom:1}
.media-body{width:10000px}
.media-object{display:block}
.media-right,.media>.pull-right{padding-left:10px}
.media-left,.media>.pull-left{padding-right:10px}
.media-body,.media-left,.media-right{display:table-cell;vertical-align:top}
.media-middle{vertical-align:middle}
.media-bottom{vertical-align:bottom}
.media-heading{margin-top:0;margin-bottom:5px}
.media-list{padding-left:0;list-style:none}

a:hover .glyphicon {
   text-decoration: none; 
}

.xs-glyph {
  font-size: 15px;
}

.for-articles {
  padding-bottom: 0px;
}

.article-padding {
  padding: 60px;
}

.article-header {
  margin-bottom: 0px;
}