
body {
	background: #f4f4f4;
}

.login-form {
	padding: 20px;
	background-color: #f4f4f4;
	border-radius: 8px;
}

.custom-button {	
	background: #ffa800;
	border: 1px solid #fff;
	width: 40%;
	color: #fff;
	text-shadow: none;
	box-shadow: none;
	text-decoration: none;
}

.img-size-small {
	max-width: 60%;
}

.input-change {
	outline: none;
	border: 1px solid #ffa800;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	margin: 10px 0px;
}

.btn-default:hover
{
  background-color: #ff9600;
  border: 1px solid #ff9600;
  width: 40%;
  color: #fff;
}

.footer {
	background-color: #f4f4f4;
}

.margin-for-signup {
	margin: 10px 0px;	
}
}