<footer id="contact" class="footer container">
	<div class="col-md-6">
	  <p>Contact Us</p>
	</div>
	<div class="col-md-6">  
	  <ul class="list-inline">
	    <li><a href="#"><span class="glyphicon glyphicon-globe sm-glyph" aria-hidden="true"></span></a></li>
	    <li><a href="#"><span class="glyphicon glyphicon-send sm-glyph" aria-hidden="true"></span></a></li>
	    <li><a href="#"><span class="glyphicon glyphicon-gift sm-glyph" aria-hidden="true"></span></a></li>
	  </ul>
	</div>         
</footer> 