<title>UP ARISE</title>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "UP ARISE",	root_path, class:"a navbar-brand logo-hover", style:"color: #f4f4f4; font-weight: 900;" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="anchor"><%= link_to "Home", 	root_path %></li>
            <li><%= link_to "About",  root_path(anchor: "aboutus"), :class => "a anchor" %></li>
            <li><%= link_to "Executive Committee", 	root_path(anchor: "members"), :class => "a anchor" %></li>
            <li><%= link_to "Events", 	root_path(anchor: "events"), :class => "a anchor" %></li>
            <li><%= link_to "News", 	articles_path, :class => "a anchor"  %></li> 
            <li><%= link_to "Contact", 	root_path(anchor: "contact"), :class => "a anchor"  %></li>   
            <% if logged_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><%= link_to "Profile", current_user %></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">System</li>
                    <li><%= link_to "Settings", edit_user_path(current_user), :class => "a" %></li>
                    <li><%= link_to "Log out", logout_path, method: "delete", :class => "a" %></li>
                  </ul>

              </li>
              
            <% else %>
              <li><%= link_to "Log in", login_path, :class => "a anchor" %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
