<div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main cover-all">   
      <% if current_page?(user_path(current_user)) %>
        <div class="container-fluid center-block intro-header"> 
       <% else %>
       <div class="container-fluid center-block"> 
       <% end %>
            <div class="container-fluid center-block intro-header">       
             <nav class="col-sm-12 col-md-12 navbar navbar-inverse navbar-fixed-top navbar-custom">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#">Profile</a></li>
                      <li><a href="#">Members</a></li>
                      <li><a href="#">Search</a></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Create Article..</a></li>
                          <li><%= link_to "Visit Website..", root_path, :class => "a" %></li>
                          <li class="divider"></li>
                          <li class="dropdown-header">System</li>
                          <li><%= link_to "Settings", edit_user_path(current_user), :class => "a" %></li>
                          <li><%= link_to "Log out", logout_path, method: "delete", :class => "a" %></li>
                        </ul>
                      </li>
                  </div>
              </nav>