<title>Dashboard | UP ARISE</title>
<div class="container-fluid center-block bg-white cover-all">
        <div class="row center-block">
          <div class="col-sm-2 col-md-1 sidebar text-center">
            <ul class="nav nav-sidebar">
              <li><a><%= image_tag("arise-logo.png", class: "img img-responsive img-logo") %></a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li class="active"><a href="#">Navigation<span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><%= link_to "", user_path(current_user), :class => "a glyphicon glyphicon-home" %></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li>
               <%= link_to users_path do %>
                  <span class="a glyphicon glyphicon-user"></span>
                <% end %>
             </li>
            </ul>
            <ul class="nav nav-sidebar">
              <li>
               <%= link_to articles_path do %>
                  <span class="a glyphicon glyphicon-edit"></span>
                <% end %>
             </li>
            </ul>
            <ul class="nav nav-sidebar">
              <li>
               <%= link_to edit_user_path(current_user) do %>
                  <span class="a glyphicon glyphicon-wrench"></span>
                <% end %>
             </li>
            </ul>
            <ul class="nav nav-sidebar">              
             <li>
               <%= link_to logout_path, method: "delete" do %>
                  <span class="a glyphicon glyphicon-off"></span>
                <% end %>
             </li>
            </ul>
          </div>
          
         <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main cover-all bg-white">
            <% if current_page?(user_path(current_user)) %>
                <div class="container-fluid center-block intro-header coverpage"> 
            <% else %>
                <div class="container-fluid center-block intro-header"> 
            <% end %>
             <nav class="col-sm-12 col-md-12 navbar navbar-inverse navbar-fixed-top navbar-custom">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <li><%= link_to "Profile", user_path(current_user), :class => "a" %></li>
                      <li><%= link_to "Members", users_path, :class => "a" %></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><%= link_to "Articles", articles_path, :class => "a" %></li>
                          <li><%= link_to "Visit Website..", root_path, :class => "a" %></li>
                          <li><%= link_to "Settings", edit_user_path(current_user), :class => "a" %></li>
                           <li class="divider"></li>
                          <li><%= link_to "Log out", logout_path, method: "delete", :class => "a" %></li>
                        </ul>
                      </li>
                  </div>
              </nav>