<!DOCTYPE html>
<html lang="en">

  <head>
     <% if current_page?(root_path) || current_page?(login_path) || current_page?(signup_path) || current_page?(articles_path) || current_page?(new_article_path)  %>
       <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
     <%  elsif @article != nil && (current_page?(article_path(@article)) || current_page?(edit_article_path(@article))) %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
     <%  elsif !logged_in? && current_page?(login_path) %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
     <% else %>
       <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => true %>
     <% end %>
   
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Cookie|Damion|Sacramento|Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Parisienne|Allura|Dancing+Script|Leckerli+One' rel='stylesheet' type='text/css'>
  </head>

  <body role="document">
    <% if current_page?(root_path) || current_page?(login_path) || current_page?(signup_path) || current_page?(articles_path) || current_page?(new_article_path) %>
      <%= render 'layouts/header' %>
    <%  elsif @article != nil && (current_page?(article_path(@article)) || current_page?(edit_article_path(@article))) %>
       <%= render 'layouts/header' %>
    <% else %>
      <%= render 'layouts/sidebar' %>
    <% end %>
      <%= yield %>
     <% if current_page?(root_path) || current_page?(login_path) || current_page?(signup_path) || current_page?(articles_path) || current_page?(new_article_path)  %>
      <%= render 'layouts/footer' %>
    <%  elsif @article != nil && (current_page?(article_path(@article)) || current_page?(edit_article_path(@article))) %>
      <%= render 'layouts/footer' %>
    <% end %>
  </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    