<h1>Executive Committee</h1>

<% if current_user != nil && (current_user.user_role == "Admin" || current_user.user_role == "Editor") %>
	<%= link_to 'New Member', new_member_path %>
<% end %>

<% @members.each do |member| %>
      <p>
  		<h3><%= member.title %></h3>
	  </p>
 
	  <p>
		<%= raw member.text %>
	  </p>
      
      <% if current_user != nil && (current_user.user_role == "Admin" || current_user.user_role == "Editor") %>
      	<p>
  			Edited by:
  			<%= member.author %>
	  	</p>
	  	<%= link_to 'Edit Member', edit_member_path(member) %> |
	  	<%= link_to 'Delete', member_path(member), method: :delete, data: {confirm: 'Are you sure you would like to delete this? ' } %>
      <% end %>
<% end %>
